#div {
  border-radius: 25px;
  padding: 20px 0;
  text-align: center;
  margin: auto;
  width: 50%;
  background-color: #038f6c;
}

#header {
  margin: auto;
  width: 50%;
}

body {
  background-color: #474973;
  padding: 200px 0;
}

input, select, button {
  background-color: #bdbac2;
  margin: auto;
  width: 25%;
}

#tip-result {
  background-color: #c77c1b;
  margin: auto;
  width: 50%;
}

.errors {
  outline: 1px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}