#div {
  border-radius: 25px;
  padding: 20px 0;
  text-align: center;
  margin: auto;
  width: 50%;
  background-color: #478978;
}

body {
  background-color: #474973;
  padding: 200px 0;
}

input, select, button {
  background-color: #bdbac2;
}